# Practice Exercises for Single Table SQL

Given a dataset and a set of questions, form the queries to answer the questions. All questions in this particular exercise only require a query to a single table. 

⚠️ *Note:* Please display minimal number of attributes (columns) needed to make sense of your answer. Not too many, not too few.

## Setup
The SQLite database for these exercises has been setup for you. For the curious, you can look at this file for the DDL commands to setup the tables and insert data.  `db_illum_ddl_5_3.sql`

Here is the schema for the database. The arrows show foreign keys, which is just fyi for now. 

![worker_project schema](worker_project_schema.png)

In [8]:
# Make sure to always run this cell when you open this notebook
# Start the Jupyter SQL engine, connecting to a SQLite database 
%reload_ext sql 
%sql sqlite:///worker_project.db

0. In the command line, inspect the sqlite database (worker_project.db) to see what the tables and columns actually are. Any differences you observe? (Also, copy past your output in the cell below)

In [1]:
@perezmolly973 ➜ /workspaces/CSC330-Introduction-to-SQL-T6-1 (main) $ sqlite3 worker_project.db
SQLite version 3.38.2 2022-03-26 13:51:10
Enter ".help" for usage hints.
sqlite> .tables
Assign   Dept     Project  Worker 
sqlite> select * from Assign;
1001|101|30|
1001|103|20|5
1005|103|20|
1001|105|30|
1001|115|20|4
1019|110|20|5
1019|115|10|4
1025|110|10|
1030|110|10|
sqlite> Select * from Dept;
Accounting|101
Research|110
sqlite> Select * from Worker;
101|Smith|Tom|Accounting|01-Feb-1970|06-Jun-1993 |50000
103|Jones|Mary|Accounting|15-Jun-1975|20-Sep-2005|48000
105|Burns|Jane|Accounting|21-Sep-1980|12-Jun-2015|39000
110|Burns|Michael|Research|05-Apr-1977|10-Sep-2020|70000
115|Chin|Amanda|Research|22-Sep-1980|19-Jun-2022|60000
sqlite> Select * from Project;
1001|Jupiter|101|300000|01-Feb-2021|50
1005|Saturn|101|400000|01-Jun-2022|35
1019|Mercury|110|350000|15-Feb-2022|40
1025|Neptune|110|600000|01-Feb-2021|45
1030|Pluto|110|380000|15-Sep-2023|50
sqlite>

SyntaxError: invalid character '➜' (U+279C) (3210608329.py, line 1)

1. Get the names of all workers in the Accounting department.

In [15]:
%%sql
Select lastname, firstname from Worker w JOIN Dept p on w.deptName = p.deptName
Where p.deptName = "Accounting"

 * sqlite:///worker_project.db
Done.

[('Smith', 'Tom'), ('Jones', 'Mary'), ('Burns', 'Jane')]

In [16]:
%%sql

Select (lastName || " " || firstName) as Full_name from Worker Where deptName = 'Accounting'

 * sqlite:///worker_project.db
Done.

[('Smith Tom',), ('Jones Mary',), ('Burns Jane',)]

2. Get the name of the employee in the Research department who has the lowest salary.

In [26]:
%%sql

Select lastName, firstName From Worker w JOIN  Dept p ON w.deptName = p.deptName
Where p.deptName = "Research"
Order By w.salary ASC LIMIT 1;

 * sqlite:///worker_project.db
Done.

[('Chin', 'Amanda')]

In [9]:
%%sql
Select (lastName || " " || firstName) as Full_name from Worker where deptName = 'Research' 
ORDER BY salary ASC LIMIT 1;

 * sqlite:///worker_project.db
Done.

[('Chin Amanda',)]

3. Get the details of the project with the highest budget.

In [27]:
%%sql

Select * from Project p JOIN Assign a On p.projNo = a.projNo
Where p.budget= (select MAX(budget) from Project)

 * sqlite:///worker_project.db
Done.

[(1025, 'Neptune', 110, 600000, '01-Feb-2021', 45, 1025, 110, 10, None)]

In [23]:
%%sql
Select * from Project where budget = (select MAX(budget) from Project);

 * sqlite:///worker_project.db
Done.

[(1025, 'Neptune', 110, 600000, '01-Feb-2021', 45)]

## The following questions may require more than one query to answer. 
Show your work! Add as many SQL cells as needed for each question. Use comments to indicate how the output of each query is used to arrive at your answer.

4. List out alphabetically the names of all workers working on Project 1001.

In [28]:
%%sql

Select lastName, firstName from Worker p LEFT JOIN Assign pt on p.empId = pt.empId 
where projNo = "1001"
Order by lastName, firstName ASC;

 * sqlite:///worker_project.db
Done.

[('Burns', 'Jane'), ('Chin', 'Amanda'), ('Jones', 'Mary'), ('Smith', 'Tom')]

In [3]:
%%sql 

Select (lastName || " " || firstName) as Full_name From Worker, Assign where Worker.empId= Assign.empId
and projNo = "1001"
Order by full_name ASC;

 * sqlite:///worker_project.db
Done.

[('Burns Jane',), ('Chin Amanda',), ('Jones Mary',), ('Smith Tom',)]

5. Get an alphabetical list of names and corresponding ratings for all workers on any project managed by Michael Burns.

In [41]:
%%sql

Select w.lastName, w.firstName, a.rating from Worker w Join  Project p ON w.empid= p.projMgrId
Join Assign a ON p.projNo = a.projNo and w.empId=a.empId 
Where w.lastName, w.firstName in

 * sqlite:///worker_project.db
(sqlite3.OperationalError) near ",": syntax error
[SQL: Select w.lastName, w.firstName, a.rating from Worker w Join  Project p ON w.empid= p.projMgrId
Join Assign a ON p.projNo = a.projNo and w.empId=a.empId
Where w.lastName, w.firstName in]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [40]:
%%sql 

Select lastname, firstname, rating from Worker, Assign where  Worker.empId= Assign.empId 
and projNo = (Select projNo from Project where projMgrId = (Select empId from Worker where lastName = 'Burns' and firstName = 'Michael'))
order by lastName, firstName DESC;

 * sqlite:///worker_project.db
Done.

[('Burns', 'Michael', 5), ('Chin', 'Amanda', 4)]

6. For all projects starting after Feb 1, 2022, find the project number and names of all workers assigned to them.

In [42]:
%%sql
Select p.projNo , w.lastName, w.firstName from Project p
JOIN Assign a ON p.projNo=a.projNo
JOIN Worker w ON a.empId = w.empId
Where p.startDate > '01-Feb-2022'

 * sqlite:///worker_project.db
Done.

[(1005, 'Jones', 'Mary'),
 (1019, 'Burns', 'Michael'),
 (1019, 'Chin', 'Amanda'),
 (1030, 'Burns', 'Michael')]

In [5]:
%%sql

Select lastname, firstName from Worker where empId in (Select empId from Assign where projNo in (Select ProjNo from Project where startDate > '01-Feb-2022'))

 * sqlite:///worker_project.db
Done.

[('Jones', 'Mary'), ('Burns', 'Michael'), ('Chin', 'Amanda')]

7. Find the names of employees who are not assigned as managers any project.

In [47]:
%%sql 

Select firstName, lastname from Worker w LEFT JOIN Project p ON w.empId=p.empId
where p.projMgrId NOT IN w.empId

 * sqlite:///worker_project.db
(sqlite3.OperationalError) no such table: w.empId
[SQL: Select firstName, lastname from Worker w LEFT JOIN Project p ON w.empId=p.empId
where p.projMgrId NOT IN w.empId]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
%%sql

Select firstName, lastname from Worker where empId NOT IN (select Distinct projMgrId from Project);

 * sqlite:///worker_project.db
Done.

[('Mary', 'Jones'), ('Jane', 'Burns'), ('Amanda', 'Chin')]

8. Find details of any project with the string "urn" in the project name.

In [7]:
%%sql

--Select * from Project, Assign Where ProjName = (Select ProjName from Project where projName LIKE '%URN')

Select * from Project where projName LIKE '%URN';

 * sqlite:///worker_project.db
Done.

[(1005, 'Saturn', 101, 400000, '01-Jun-2022', 35)]

9. List out the projects from most to least efficient. (hint: the project with the lowest budget is not necessarily the one that uses time and human resources effectively.)

In [8]:
%%sql
Select projName, budget/ expectedDurationWeeks/(Select count() from Assign where projNo = p.projNo) as "Efficiency" 
from Project p
Order by Efficiency DESC

 * sqlite:///worker_project.db
Done.

[('Neptune', 13333),
 ('Saturn', 11428),
 ('Pluto', 7600),
 ('Mercury', 4375),
 ('Jupiter', 1500)]

10. Explain your reasoning for your solution to #9 (use a Markdown cell), including who should get the award for Most Efficient Project Manager.

My sequal gets it efficiency using the budget the duration of weeks and the number of worker assigned to the certain project. My reasoning was that using all these 3 attributes it can help me better list out the projects in order taking in account the budget, workers, and weeks of duration. According to my sequal the Neptune project is the most efficient comapred to the Jupiter project which is less efficient.

11. Bonus!!  A Query that you can't easily answer with just a set of queries: Get a list of project numbers with name and start dates, of all the projects that have the same start date as another. 
*you don't have to answer this, but think about it!*

## Submission:

Commit and push your changes to this document by the deadline, and share a link to the repository in the Moodle assignment.

Working with 
Etha, Alejandro, Issac and TA chesky